.MuiDrawer-paper {
    width: 276px;
    border-right: 1px solid #f0f0f0;
    -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    overflow-x: hidden;
    margin-top: 70px !important;

}

.css-jjtu05 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    margin-top: 130px;
    border-top: 1px solid #f5d6d6;
}